/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');




html {
    height: 100%;
}

body {
    background: url('../img/board-fade-light.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 196px); 
    background-color: #000000;
    font-family: 'Titillium Web';
}

.titillium {
    font-family: "Titillium Web";
}

.bokor {
    font-family: "Bokor";
}

.img-max {
    max-height: 250px;  
}

.logo-max {
    max-height: 110px;  
}

/* BS Navbar custom colours */
.navbar-black {
    background-color: #000; /* Black background */
}
/* BS Navbar make icons white */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: white; /* Make the border white */
}



.det-heading {
    text-align: center;
    
}

.text-upc {
    text-transform: uppercase;
}

.text-copyr {
    color: #6E6E6E;
    font-size: 0.9rem;
    text-align: center;
    
}


.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-chk-emph {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.1rem;
}


/* used to format back ground  for displaying image/text  */
.banner-panel {
    top: 200px;
    position: relative;     
    width:75%;
    background-color: #000000;
    left: 12.5%;
    border-radius: 1em;
}

.header-container {
    padding-top: 220px;
}

 /*------------apply background gradeint to give subtle fade on Hero Banner for index, and FAQ-----*/
 .grad {
    background: rgb(99,96,90);
    background: linear-gradient(0deg, rgba(99,96,90,1) 0%, rgba(71,70,78,1) 14%, rgba(2,0,36,1) 100%);
 }