@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
    background: url('../img/board.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 230px); 
    background-color: #000000;
    font-family: 'Titillium Web';
}

html {
    height: 90%;
}

.titillium {
    font-family: "Titillium Web";
}

.img-max {
    max-height: 130px;  
}

.logo-max {
    max-height: 110px;  
}

/* .cont-size {
    min-height: 1200px;  
    } */


.det-heading {
    text-align: center;
    
}

.text-upc {
    text-transform: uppercase;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-chk-emph {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.1rem;
}


/* used to format back ground  for displaying image/text  */
.banner-panel {
    top: 230px;
    position: fixed;    
    width:60%;
    background-color: #000000;
    left: 20%;
}

.header-container {
    padding-top: 220px;
}

.monochrome {
    filter: grayscale(100%); /* Convert to black and white */
    transition: filter 0.5s ease; /* Smooth transition for effects */
}