@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
    height: 100%;
}

body {
    
    height: calc(100vh - 164px); 
    color: #000000;
    font-family: 'Titillium Web';
}
.titillium {
    font-family: "Titillium Web";
}

.logo-size {
    max-width: 160px;
     
}
.det-heading {
    text-align: center;
    
}

.text-upc {
    text-transform: uppercase;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-chk-emph {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.1rem;
}


/* used to format back ground  for displaying image/text  */
.banner-panel {
    top: 20%;
    background: url('/assets/img/board.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 150px;
    position: relative;
    width:80%;
    background-color: #00537c;
    position: relative;
    left: 10%;
    border-radius: 1em;
    padding: 0.5em 0;
}

.header-container {
    
}


